{% extends 'mage/base_detail.html' %}
{% block details %}
<h4><strong>Attributes</strong></h4>
    <div class="row">
        <div class="col-sm-4">
            <ul class="list-group">
                <li class="list-group-item"><strong>Physical</strong></li>
                <li class="list-group-item">Strength: {{ attr.strength }}</li>
                <li class="list-group-item">Dexterity: {{ attr.dexterity }}</li>
                <li class="list-group-item">Stamina: {{ attr.stamina }}</li>
            </ul>
        </div>
         <div class="col-sm-4">
            <ul class="list-group">
                <li class="list-group-item"><strong>Social</strong></li>
                <li class="list-group-item">Charisma: {{ attr.charisma }}</li>
                <li class="list-group-item">Manipulation: {{ attr.manipulation }}</li>
                <li class="list-group-item">Apperance: {{ attr.apperance }}</li>
            </ul>
        </div>
         <div class="col-sm-4">
            <ul class="list-group">
                <li class="list-group-item"><strong>Mental</strong></li>
                <li class="list-group-item">Perception: {{ attr.perception }}</li>
                <li class="list-group-item">Intelligence: {{ attr.intelligencee }}</li>
                <li class="list-group-item">Wits: {{ attr.wits }}</li>
            </ul>
        </div>
    </div>

<h4><strong>Abilities</strong></h4>
    <div class="row">
        <div class="col-sm-4">
            <ul class="list-group">
                <li class="list-group-item"><strong>Talents</strong></li>
                <li class="list-group-item">Alertness: {{ abili.alertness }}</li>
                <li class="list-group-item">Art: {{ abili.art }}</li>
                <li class="list-group-item">Athletics: {{ abili.athletics }}</li>
                <li class="list-group-item">Awarness: {{ abili.awareness }}</li>
                <li class="list-group-item">Brawl {{ abili.brawl }}</li>
                <li class="list-group-item">Emphaty: {{ abili.empathy }}</li>
                <li class="list-group-item">Expression: {{ abili.expression }}</li>
                <li class="list-group-item">Intimidation: {{ abili.intimidation }}</li>
                <li class="list-group-item">Leadership: {{ abili.leadership }}</li>
                <li class="list-group-item">Streetwise: {{ abili.streetwise }}</li>
                <li class="list-group-item">Subterfuge: {{ abili.subterfuge }}</li>
                <li class="list-group-item">Additional talents: {{ abili.secondary_talents }}</li>
            </ul>
        </div>
         <div class="col-sm-4">
            <ul class="list-group">
                <li class="list-group-item"><strong>Skills</strong></li>
                <li class="list-group-item">Crafts: {{ abili.crafts }}</li>
                <li class="list-group-item">Drive: {{ abili.drive }}</li>
                <li class="list-group-item">Etiquette: {{ abili.etiquette }}</li>
                <li class="list-group-item">Firearms: {{ abili.firearms }}</li>
                <li class="list-group-item">Martial Arts: {{ abili.martial_arts }}</li>
                <li class="list-group-item">Meditation: {{ abili.meditation }}</li>
                <li class="list-group-item">Melee: {{ abili.melee }}</li>
                <li class="list-group-item">Research: {{ abili.research }}</li>
                <li class="list-group-item">Stealth: {{ abili.stealth }}</li>
                <li class="list-group-item">Survival: {{ abili.survival }}</li>
                <li class="list-group-item">Technology: {{ abili.technology }}</li>
                <li class="list-group-item">Additional skills: {{ abili.secondary_skills }}</li>
            </ul>
        </div>
         <div class="col-sm-4">
            <ul class="list-group">
                <li class="list-group-item"><strong>Knowledges</strong></li>
                <li class="list-group-item">Academics: {{ abili.academics }}</li>
                <li class="list-group-item">Computer: {{ abili.computer }}</li>
                <li class="list-group-item">Cosmology: {{ abili.cosmology }}</li>
                <li class="list-group-item">Enigmas: {{ abili.enigmas }}</li>
                <li class="list-group-item">Esoterica: {{ abili.esoterica }}</li>
                <li class="list-group-item">Investigation: {{ abili.investigation }}</li>
                <li class="list-group-item">Law: {{ abili.law }}</li>
                <li class="list-group-item">Medicine: {{ abili.medicine }}</li>
                <li class="list-group-item">Occult: {{ abili.occult }}</li>
                <li class="list-group-item">Politics: {{ abili.politics }}</li>
                <li class="list-group-item">Science: {{ abili.science }}</li>
                <li class="list-group-item">Additional knowledges: {{ abili.secondary_knowledges }}</li>
            </ul>
        </div>

    </div>

{% endblock %}

{% block add_new %}

    <ul class="list-inline banner-social-buttons">
        <li>
        <a href="{% url 'attributes-update-view' pk=object.attributes.id %}?mage={{ object.id }}" class="btn btnghost btn-lg">Edit Attributes</a>
        </li>
        <li>
        <a href="{% url 'abilities-update-view' pk=abili.id %}?mage={{ object.id }}" class="btn btnghost btn-lg">Edit Abilities</a>
        </li>

        {% block add_sphere %}
            {% if object.is_mage %}
                {% include "mage/base_detail_add_sphere_link.html" %}
            {% elif object.is_technocrat %}
                {% include "mage/base_detail_add_techsphere_link.html" %}
            {% endif %}
        {% endblock %}
    </ul>

{% endblock %}