{% extends 'base.html' %}
{% block content %}
<p><a href="{% url 'base-update-view' pk=object.pk %}">Edit</a></p>

<p>Chronicle: {{ object.chname }}</p>
<h1>{{ object.name }}</h1>
<h3>Player: {{ object.player }}</h3>
<p>Nature: {{ object.nature }}</p>
<p>Demenor: {{ object.demenor }}</p>
<p>Willpower: {{ object.willpower }}</p>
<p>Traits: {{ object.traits }}</p>

<p><a href="{% url 'attributes-create-view' %}?mage={{ object.id }}">Add Attributes</a> </p>
<p><a href="{% url 'abilities-create-view' %}?mage={{ object.id }}">Add Abilities</a> </p>

{% block details %}

{% endblock %}

{% endblock %}


