{% extends 'mage/base_detail.html' %}
{% block details %}
<h3>Attributes </h3>
<p>strength: {{ object.strength }}</p>
<p>dexterity: {{ object.dexterity }}</p>
<p>stamina: {{ object.stamina }}</p>
<p>charisma: {{ object.charisma }}</p>
<p>manipulation: {{ object.manipulation }}</p>
<p>apperance: {{ object.apperance }}</p>
<p>perception: {{ object.perception }}</p>
<p>intelligencee: {{ object.intelligencee }}</p>
<p>wits: {{ object.wits }}</p>

<h3>Abilities</h3>
<p>alertness</p>
<p>art</p>
<p>athletics</p>
<p>awareness</p>
<p>brawl</p>
<p>empathy</p>
<p>expression</p>
<p>intimidation</p>
<p>leadership</p>
<p>streetwise</p>
<p>subterfuge</p>
<p>crafts</p>
<p>drive</p>
<p>etiquette</p>
<p>firearms</p>
<p>martial_arts</p>
<p>meditation</p>
<p>melee</p>
<p>research</p>
<p>stealth</p>
<p>survival</p>
<p>technology</p>
<p>academics</p>
<p>computer</p>
<p>cosmology</p>
<p>enigmas</p>
<p>esoterica</p>
<p>investigation</p>
<p>law</p>
<p>medicine</p>
<p>occult</p>
<p>politics</p>
<p>science</p>
<p>secondary_abilities</p>
{% endblock %}k %}